#first {
  width: 60%;
  margin-left: 20%;
}

#text-intro {
  font-size: 1.2em;
  color: white;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}

#slider {
  position: absolute;
  margin-top:50%;
  z-index: -1;
}
